*{
    background-color: #0B3948;
    color: white;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#minhaFoto {
    position: absolute;
    float: left;
    height: 230px;
    padding: 10px;
    background-color: white;
}

.quemSouEu {
    position: absolute;
    top: 220px;
    left: 280px;
}

.descricao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    margin-right: 300px;
    color: black;
    position: absolute;
    text-align: center;
    top: 260px;
    left: 280px;
}

.indiceTitulo {
    position: absolute;
    left: 280px;
    top: 100px;
    }

.indice {
    position: absolute;
    left: 280px;
    top: 140px;
}

.imageContainer {
    height: 250px;
}

div {
    border: 10px white ;
}
